.home-container {
  background: radial-gradient(ellipse at bottom, #00adb5cf, black);
  height: 100vh;
}

.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.chart-container {
  bottom: 0;
}
