.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.testimonials-top,
.testimonials-bottom {
  display: flex;
  gap: 2rem;
}

.testimonials-bottom {
  margin-left: auto;
}

.testimonial {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonial-top {
  display: flex;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  flex: 2;
}

.testimonial-text h1 {
  line-height: 1;
  height: 30px;
  font-style: italic;
}

.testimonial-text p {
  max-width: 350px;
}

.testimonial-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.testimonial-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
}

@media (max-width: 768px) {
  .testimonials-top,
  .testimonials-bottom {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .testimonial-top {
    flex-direction: column;
  }

  .testimonial-text {
    gap: 0;
  }
}
