.notfound404 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.notfound404 .text {
    text-align: center !important;
    color: darkred;
}

.footer {
    text-align: center;
}
