.team {
  background-color: #f5f5f5;
}

.team-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.team-text h3 span {
  font-weight: bold;
  font-style: italic;
}

.team-text p {
  max-width: 800px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.team-member {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.member-img {
  border-radius: 10px;
  overflow: hidden;
}

.member-text {
  margin-top: 1rem;
  text-align: left;
}

.member-text h6 {
  font-weight: bold;
}

.member-text p {
  font-style: italic;
  color: #555;
}
