.homepage {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #00ADB5;
    padding: 10px 20px; /* Increased padding */
    font-family: 'Roboto', sans-serif; /* Modern font */
    border-radius: 5px;
}

.navbar a, .navbar button {
    color: #EEEEEE;
    text-decoration: none;
    padding: 12px 24px; /* Increased padding */
    transition: background-color 0.3s; /* Added transition */
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #393E46;
    color: #EEEEEE; /* Made the text white on hover for contrast */
    border-radius: 5px;
}

.navbar button {
    background-color: #222831;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.navbar button:hover {
    background-color: #393E46;
    color: #ffffff;
    border-radius: 5px;
}
