.homepage {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

section {
  padding: 2rem;
}

.hero {
  height: 75vh;
  background-image: url("../../assets/omnistudy-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid #a9a9a9;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content span {
  background: -webkit-linear-gradient(#f5f5f5, #00adb5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.hero p {
  max-width: 650px;
}

.hero p,
.hero a {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #f5f5f5;
}

.hero a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 9px 48px;
  transition: all 0.3s;
  border-radius: 20px;
  background-color: #00adb5;
  cursor: pointer;
}

.hero a:hover {
  background-color: #00adb5;
  color: #f5f5f5;
  box-shadow: 0 0 15px #00adb5;
}

/* Statistic */

.stat {
  border-bottom: 2px solid #a9a9a9;
}

.stat .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat img,
.features img,
.faq img {
  width: 50px;
  height: 50px;
}

.stat h2,
.mission-statement h2,
.features h2,
.testimonials h2,
.faq h2 {
  font-size: 2rem;
  font-weight: 400;
}

.stat h3,
.features h3,
.faq h3 {
  color: #00adb5;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.stat p,
.features p,
.faq p {
  max-width: 850px;
  margin-bottom: 1rem;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a9a9a9;
  padding: 2rem 1rem 1rem 1rem;
  transition: all 0.5s;
}

.stat-item:hover .stat-icon {
  background-color: #00adb5;
}

.stat-item:hover,
.featured-item:hover {
  transform: scale(1.05);
}

.stat-item .stat-icon {
  font-size: 5rem;
  background-color: #292e34;
  border-radius: 50%;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.stat-item span {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Mission */

.mission-statement {
  background-image: url("../../assets/os-backgroundphoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f5f5f5;
  height: 50vh;
  border-bottom: 2px solid #a9a9a9;
}

.mission-statement .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.mission-content {
  border-left: 1px solid #a9a9a9;
  padding: 1rem 1rem 1rem 2rem;
}

.mission-statement p {
  max-width: 850px;
}

/* Featured */

.features {
  border-bottom: 2px solid #a9a9a9;
}

.features .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.featured-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #a9a9a9;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.5s;
}

.featured-item span {
  font-weight: bold;
}

.featured-item p {
  text-align: left;
}

.featured-item:hover .featured-icon {
  color: #00adb5;
}

/* Testimonial */

.testimonials {
  background-image: url("../../assets/os-backgroundphoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid #a9a9a9;
}

.testimonials h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
}

.testimonial-item p {
  text-align: left;
}

/* FAQ */

.faq {
  border-bottom: 2px solid #a9a9a9;
}

.faq .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-questions {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-head {
  display: flex;
  align-items: center;
}

.faq-question {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
}

.faq-question p {
  text-align: left;
  margin-left: 4.3rem;
}

.faq-question h4 {
  font-weight: bold;
}

.faq-question span {
  background: -webkit-linear-gradient(#292e34, #00adb5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-right: 2rem;
}

/* Media */

@media (max-width: 640px) {
  .navbar .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 300px;
  }
}
