.homepage {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

section {
  margin-top: 2rem;
  padding: 1rem;
}

.hero {
  height: 500px;
  margin: 0;
  background-image: url("../../assets/hero-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero-content {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mission-content h2,
.content-content h2 {
  color: #0e8ec4;
  background: -webkit-linear-gradient(#292e34, #00adb5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content span,
.features h2,
.testimonials h2,
.footer-links h3,
.footer-bottom h2 {
  background: -webkit-linear-gradient(#f5f5f5, #00adb5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #f5f5f5;
  margin: 0.5rem 0;
}

.hero-content p,
.hero-content a {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #f5f5f5;
}

.hero-content a,
.feature-item a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 12px 24px;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: #00adb5;
  cursor: pointer;
}

.hero-content a:hover,
.feature-item a:hover {
  background-color: #00adb5;
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 15px #00adb5;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.stat {
  margin-top: 0;
  background-image: url("../../assets/stat-background.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.stat h2 {
  color: #00adb5;
  margin: 1rem;
  font-size: 3rem;
  font-weight: 400;
}

.stat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.stat-item,
.stat-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.stat-item h3,
.stat-info h3,
.stat-text h3 {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.stat-item h4,
.stat-item span,
.stat-info h4,
.stat-info span {
  margin: 0.5rem 0;
  color: #292e34;
  font-weight: 300;
  font-size: 0.9rem;
}

.stat-item div:first-child,
.stat-info div:first-child {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #292e34;
}

.stat-item div:nth-child(2),
.stat-info div:nth-child(2) {
  text-align: left;
}

.stat .card,
.testimonials .card {
  border: 1px solid #00adb5;
  transition: 0.5s;
  background-color: #f5f5f5;
}

.stat .card:hover,
.testimonials .card:hover {
  box-shadow: 0 0 20px #00adb5;
}

.stat-grid .card:last-child {
  grid-column: 3 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stat-img {
  grid-column: 2 / span 2;
  display: flex;
  justify-content: center;
}

.stat-grid .card:last-child img {
  width: 80%;
  border-radius: 10px;
  border: 1px solid #00adb5;
}

.stat-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.stat-text .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.features {
  background: linear-gradient(rgba(41, 46, 52, 0.9), rgba(41, 46, 52, 0.9)),
    url("../../assets/background-img.jpg");
  margin-top: 0;
  /* background-color: #292e34; */
}

.features h2,
.mission-content h2,
.content-content h2,
.testimonials h2 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 400;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature-item {
  margin: 1rem;
  background-color: #f5f5f5;
}

.feature-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.feature-item {
  display: flex;
  flex-direction: column;
}

.feature-item a {
  width: auto;
}

.mission-statement .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.mission-content {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.mission-img img,
.content-img img {
  width: 100%;
  height: auto;
}

.content .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.content-content {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.testimonials {
  background-color: #292e34;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.testimonial-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.testimonial-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonial-img img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid #00adb5;
}

.testimonial-item p {
  text-align: left;
}

.testimonial-item h3 {
  color: #00adb5;
}

.testimonial-grid .card:nth-child(3),
.testimonial-grid .card:nth-child(4) {
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #292e34;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00adb5;
  padding-bottom: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.footer-logo img {
  width: 125px;
  height: 125px;
}

.footer-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links a,
.footer-bottom a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}

.footer-links a:hover,
.footer-bottom a:hover {
  color: #00adb5;
  text-decoration: underline;
}

.footer-omnistudy-links,
.footer-socials,
.footer-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-socials {
  margin-right: 2rem;
}

.footer-bottom {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom a {
  margin: 0;
}

.footer-bottom h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}
