.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222831;
    padding: 10px 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    height: 60px;
}
.navbar a, .navbar button {
    color: #EEEEEE;
    text-decoration: none;
    padding: 12px 24px; 
    transition: all 0.3s;
    border-radius: 5px;
}

.navbar a:hover, .navbar button:hover {
    background-color: #00ADB5;
    color: #EEEEEE; 
    border-radius: 5px;
    box-shadow: 0 0 15px #00ADB5; 
}

.navbar button {
    background-color: #00ADB5;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}