.hero {
  height: 100vh;
  background: url("../../../assets/bg-img.png");
  background-size: cover;
  background-position: right;
  position: relative;
  padding-top: 132px;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.hero-content h1 {
  max-width: 600px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero-content h1 span {
  font-weight: bold;
  font-style: italic;
}

.hero-content p {
  max-width: 450px;
  margin-bottom: 1.5rem;
}

.hero-content .button {
  padding: 10px 40px;
  background-color: #ff3e36;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  color: #fff;
}

/* .hero-content .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-content .scroll-button {
  transition: 0.3s;
}

.hero-content .scroll-button:hover {
  color: #ff3e36;
  transform: translateY(5px);
}

.hero-content .circle {
  background: #000;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  transform: scale(1);
  animation: pulse 2s infinite;
} */

.hero-img {
  height: 100%;
  display: flex;
  align-items: center;
}

/* @keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
} */

@media (max-width: 640px) {
  .hero {
    height: auto;
  }

  .hero .container {
    display: flex;
  }

  .hero-content {
    order: 2;
    justify-content: flex-start;
    height: auto;
  }

  .hero-img {
    height: auto;
  }

  .hero-img img {
    height: 300px;
    width: auto;
  }
}
