.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #292e34;
  padding: 10px 20px;
  font-family: sans-serif;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 100px;
  width: auto;
}

.navbar a,
.navbar button {
  color: #eeeeee;
  text-decoration: none;
  padding: 12px 24px;
  transition: all 0.3s;
  border-radius: 5px;
  margin-left: 1rem;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 5px;
  box-shadow: 0 0 15px #00adb5;
}

.navbar button {
  background-color: #00adb5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
