.sidebar {
  top: 0px;
  width: 250px;
  position: sticky;

  height: 100vh;

  background-color: rgb(87 83 78);
  overflow: hidden;
  height: 100%;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.6);

  font-family: sans-serif;
  z-index: 40;
}
.sidebarList {
  width: 100%;
  height: auto;
  padding: 0;
}
.sidebarList .row:hover {
  cursor: pointer;
  background-color: #00adb5;
  border-radius: 5px;
  box-shadow: 0 0 15px #00adb5;
}
.sidebarList #active {
  background-color: #00adb5;
  border-radius: 5px;
  box-shadow: 0 0 15px #00adb5;
}
.sidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  
}

.row #icon {
  flex: 30%;
}

.row #title {
  flex: 70%;
  margin-left: 20px;
  text-align: left;
}
