html {
    height: 100%;
}
body {
    background: linear-gradient(to right, #00ADB5, #edffed);
    height: 100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.animated-btn {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

.animated-btn span {
  position: absolute;
  display: block;
  content: '';
}

.animated-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00ADB5);
  animation: btn-anim1 1s linear infinite;
}

.animated-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00ADB5);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

.animated-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00ADB5);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

.animated-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00ADB5);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

.register-box, .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.register-box h2, .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #EEEEEE;
    text-align: center;
}
  
.register-box .user-box, .login-box .user-box {
    position: relative;
}
  
.register-box .user-box input, .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #EEEEEE;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    outline: none;
    background: transparent;
}
.register-box .user-box label, .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #EEEEEE;
    pointer-events: none;
    transition: .5s;
}
  
.register-box .user-box input:focus ~ label, .login-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label, .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00ADB5;
    font-size: 12px;
}
  
.register-box form a, .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #EEEEEE;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
}
  
.register-box a:hover, .login-box a:hover {
    background: #00ADB5;
    color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 5px #00ADB5,
                0 0 25px #00ADB5,
                0 0 50px #00ADB5,
                0 0 100px #00ADB5;
}
