.footer {
  padding: 2rem;
  border-bottom: 2px solid #a9a9a9;
  background-color: #292e34;
  color: #fff;
}

.footer-top {
  width: 100%;
  border-bottom: 2px solid #a9a9a9;
  padding: 1rem 2rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 150px;
  height: 150px;
}

.footer-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-grid-item {
  text-align: left;
}

.footer-grid-item h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.footer a {
  transition: all 0.5s;
}

.footer a:hover {
  color: #00adb5;
  transform: scale(0.98);
}

.footer-bottom {
  margin-top: 1rem;
  color: #a9a9a9;
}
