.footer {
  padding: 2rem;
  border-bottom: 2px solid #a9a9a9;
  background-color: #292e34;
  color: #fff;
}

.footer-top {
  width: 100%;
  border-bottom: 2px solid #a9a9a9;
  padding: 1rem 2rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 150px;
  height: 150px;
}

.footer-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-grid-item {
  text-align: left;
}

.footer-grid-item h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.footer a {
  transition: all 0.5s;
}

.footer a:hover {
  color: #00adb5;
  transform: scale(0.98);
}

.footer-bottom {
  margin-top: 1rem;
  color: #a9a9a9;
}

@media (max-width: 768px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .footer-logo {
    grid-column: 1 / span 2;
  }

  .footer-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-socials {
    flex-direction: row;
  }
}
