.about-hero {
  height: 60vh;
  background: url("../../../assets/about-bg.png");
  background-size: cover;
  background-position: bottom;
}

.about-hero .container {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}

.about-hero h2 {
  max-width: 800px;
  line-height: 1.3;
}

.about-hero h2 span {
  font-weight: bold;
  font-style: italic;
}
