.note-taker {
    margin-left: 250px;
    background: whitesmoke;
    height: 100%;
}

.note-taker .heading {
    padding: 20px 40px;
    text-align: left;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    display: flex;
}
.note-taker .heading h1 {
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-right: auto;
}

.note-taker .content {
    display: grid;
    height: 100%;
}
.note-taker .content.horizontal {
    grid-template-columns: 1fr 1fr;
}
.note-taker .content.vertical {
    grid-template-rows: 1fr 1fr;
}

.note-taker .content .type {
    border-right: 1px solid #eee;
    height: 100%;
    text-align: left;
    background-color: #1e1e1e;
}

.note-taker .content .render {
    width: 100%;
    background: #eee;
    text-align: left;
    padding: 10px;
}
.note-taker .content .render > h1, p {
    margin-top: 0;
}